---
import Layout from "../layouts/Layout.astro";
import Hero from "@/components/Hero";
import "../styles/global.css";
import ScrollBlocker from "@/components/ScrollBlocker";
import AnimatedSection from "@/components/AnimatedSection";
import PricingSection from "@/components/pricing/PricingSection";
import Services from "@/components/Services";
import SecuritySection from "@/components/SecuritySection";
import ComunicacionSection from "@/components/ComunicacionSection";
import CRMvsERPSection from "@/components/CRMvsERPSection";
import BannerCTA from "@/components/BannerCTA";
---

<Layout>
  <main>
    <ScrollBlocker client:load />
    <Hero client:visible />
    <AnimatedSection client:visible />
    <BannerCTA client:visible />
    <Services client:visible />
    <SecuritySection client:visible />
    <ComunicacionSection client:visible />
    <CRMvsERPSection client:visible />
    <PricingSection client:visible />
  </main>
</Layout>
