---
import LinkedInIcon from "@/components/icons/LinkedInIcon.astro";
import { Button } from "./ui/button";

const socials = [
  {
    name: "LinkedIn",
    icon: LinkedInIcon,
    link: "https://www.linkedin.com/company/negoco-cloud/",
  },
];
---

<footer
  class="relative bg-white sm:flex sm:items-center sm:justify-between p-4 sm:p-6 xl:p-8 dark:bg-gray-800 antialiased"
>
  <p class="mb-4 text-sm text-center text-gray-500 dark:text-gray-400 sm:mb-0">
    &copy; 2025 <a
      title="Negoco Cloud"
      href="https://negococloud.es/"
      class="hover:underline"
      target="_blank">Negoco Cloud</a
    >. Todos los derechos reservados.
  </p>
</footer>
