---
import Header from "@/components/header/Header.astro";
import "@fontsource/poppins";
import Background from "@/components/Background.astro";
import WhatsappButton from "@/components/WhatsappButton";
import Footer from "@/components/Footer.astro";
import Analytics from "@vercel/analytics/astro";
import CookiesAlert from "@/components/CookiesAlert";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <!-- SEO Essentials -->
    <title>Negoco Cloud | El CRM para Consultorías Energéticas</title>
    <meta
      name="description"
      content="Negoco Cloud es el software CRM para empresas del sector energético. Gestiona clientes, automatiza servicios y cubre todas tus necesidades comerciales."
    />
    <meta
      name="keywords"
      content="crm energía, crm consultorías energéticas, software crm energía, gestión comercial energía, software consultoría, servicios energía, clientes energía, empresas sector energético, crm ventas, erp energía, necesidades comerciales, suministro energético"
    />

    <meta name="author" content="Negoco Cloud" />
    <meta name="robots" content="index, follow" />

    <!-- Open Graph (para compartir en redes sociales y mejorar el CTR) -->
    <meta
      property="og:title"
      content="Negoco Cloud | El CRM para Consultorías Energéticas"
    />
    <meta
      property="og:description"
      content="Impulsa la gestión y las ventas de tu consultoría energética con Negoco Cloud. CRM especializado, flexible y seguro."
    />
    <meta
      property="og:site_name"
      content="Negoco Cloud | El CRM para Consultorías Energéticas"
    />
    <meta property="og:image" content="/og-image.png" />
    <meta property="og:url" content="https://negococloud.es/" />
    <meta property="og:type" content="website" />

    <!-- Favicon & App Icons -->
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="Negoco" />
    <link rel="manifest" href="/site.webmanifest" />
    <link
      rel="preload"
      as="image"
      href="/logo/logo_hd_opt.webp"
      type="image/webp"
      fetchpriority="high"
    />
    <Analytics />
  </head>

  <body>
    <Background />
    <Header />
    <slot />
    <WhatsappButton client:load />
    <CookiesAlert client:load />
    <Footer />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
    position: relative;
    overflow-x: hidden;
  }
</style>
